$dirs: (
	x: x,
	y: y,
	l: left,
	r: right,
	t: top,
	b: bottom,
);
$sizes: (
	0: 0,
	1: 10px,
	2: 20px,
	3: 40px,
	4: 60px,
	5: 120px,
	6: 150px,
	7: 480px,
	10p: 10%,
	20p: 20%,
	30p: 30%,
	40p: 40%,
	50p: 50%,
	60p: 60%,
	70p: 70%,
	80p: 80%,
	90p: 90%,
	100p: 100%,
);
